.about {
    font-size: 75%;
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .video {
            flex: 1 1 41rem;

            video {
                width: 100%;
            }
        }

        .content {
            flex: 1 1 41rem;

            h3 {
                @include titleText(3.5rem);
            }
            p{
                @include titleText(2rem);
                padding:1.5rem 0;
            }
        }
    }
    .box-container {
        margin-top: 3rem;
        @include grid(25rem);
        align-items: center;

        .box {
            text-align: center;
            background: $light-bg;
            padding: 3rem 2rem;

            h3 {
                @include titleText(4rem);
            }

            p {
                @include graphText(1.5rem);
                padding-top: 0.5rem;
            }
        }
    }
}